<div class="block_style">
                <div class="row">
			<div class="rLeftcol"><b>{{oRow.name }} ({{ oRow.getFormatLib }}):</b></div>
				
                                                 <div class="rRightcol"><input type="file" name="{{oRow.getTag}}" /></div>
						 {{oRow.getImgAtIndex(0) | raw}}
			<div class="clear"></div>
		</div>  
</div>