



    <div id="leftcol">

		{% for oRow in aRowClass %}
		<div class="menu">
			<ul>
				<li class="root">
					<a class="no-icon">{{oRow.name[lang]}}</a>
					<ul class="first-sub">
                                            <li><a href="{{ path('admin_item_list',{'item_type': oRow.getUrlClass_namespace,'_locale': lang }) }}">{% trans %}List{% endtrans %}</a></li>
                                            <li><a href="{{ path('admin_item_create',{'item_type': oRow.getUrlClass_namespace,'_locale': lang }) }}">{% trans %}Create{% endtrans %}</a></li>
					</ul>
				</li>
			</ul>
		</div>  
                {% endfor%}

	
		<div>
			<button class="btnGeneric" onClick="window.open('/')">{% trans %}See web site{% endtrans %}</button>
		</div>
		
		<div>
			<a href="{{ path('logout') }}"><button class="btnGeneric">{% trans %}Logout{% endtrans %}</button></a>
		</div>
    </div>